$mainColor: #1d1b84;
$secondColor: #eaf2fa;
$whiteColor: #fff;
$blackColor: #1F2128;
$blackBg: #242731;
$dangerColor: #f5365c;
$lightSecondColor: #f3f9fd;
$placeHolderColor: rgb(158, 167, 184);

.main-btn-outline,
.main-btn {
	font-weight: 600;
	padding: 0.5rem 1rem;
	border-color: $mainColor;
	border-radius: 10px;
}

.main-btn {
	background-color: $mainColor;
	color: $whiteColor;
}

.main-btn-outline {
	color: $mainColor;
	background-color: $whiteColor;
}

.ml-2rem {
	margin-left: 2rem;
}