@import "../../imports/colors";

.content-container {
	.content {
		background-color: $whiteColor;
		margin-top: 5rem;
		padding: 2rem;
		h4,
		h5 {
			margin-bottom: 1rem;
			color: $mainColor;
			font-weight: 600;
		}
		p {
			margin-bottom: 1rem;
		}
	}
}
