@import "../imports/colors";

.dark-mode {
	.bg-dark-darkmode {
		background-color: $blackBg !important;
		border: 1px solid $secondColor !important;
	}
	h4,
	h5,
	p,
	label,
	.sort-date,
	.main-txt-clr {
		color: $secondColor !important;
	}
	input,
	textarea,
	.react-select .react-select-pre__control,
	.markdown-container {
		background-color: #191b20 !important;
		color: #fff !important;
		border: 1px solid #808191 !important;
	}
	input::placeholder,
	textarea::placeholder {
		color: #808191;
	}
	input:focus,
	textarea:focus {
		border: 1px solid rgb(243, 249, 253);
	}
	input {
		color: $whiteColor !important;
	}
	svg path {
		fill: $secondColor !important;
	}
	hr,
	.spot {
		background-color: $secondColor !important;
	}
	.brdr-2-dark {
		border: 2px solid $secondColor !important;
	}
	.wily-container
	{
		background-color: rgba($color: $blackBg, $alpha: 0.95);
		border: 1px solid $blackColor;
		&:hover {
			background-color: $blackColor;
			border: 1px solid $secondColor;
		}
	}
	.react-select {
		.react-select-pre__control {
			background-color: $blackBg !important;
			border: 1px solid $secondColor !important;
		}
	}
	.navbar-container {
		background-color: rgba($color: $blackBg, $alpha: 0.95);
	}
	button {
		background-color: rgba($color: $blackBg, $alpha: 0.95);
		border: 2px solid $secondColor;
		color: $secondColor;
	}
	button:hover {
		background-color: $blackColor;
	}
}

