@import "../imports/colors";

.main-btn-outline,
.main-btn {
	font-weight: 600;
	padding: 0.5rem 1rem;
	border-color: $mainColor;
	border-radius: 10px;
}

.main-btn {
	background-color: $mainColor;
	color: $whiteColor;
}

.main-btn-outline {
	color: $mainColor;
	background-color: $whiteColor;
}

.ml-2rem {
	margin-left: 2rem;
}

.date-label {
	font-size: 13px;
	color: #7a7a7a;
}

label {
	color: $mainColor;
	font-weight: 700;
	padding-left: 5px;
}
input,
textarea,
.react-select .react-select-pre__control {
	margin-bottom: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	background-color: $lightSecondColor;
	border: 1px solid $lightSecondColor;
	color: $placeHolderColor;
}
input::placeholder,
textarea::placeholder {
	color: $placeHolderColor;
}
input:focus,
textarea:focus {
	outline: none !important;
	border: 1px solid $mainColor;
}

.react-select {
	.react-select-pre__value-container {
		padding-left: 0;
	}
	.css-1rhbuit-multiValue {
		background-color: hsl(0deg 0% 100%);
		color: white;
		border: 1px solid #b8c0cd;
		border-radius: 5px;
		svg path {
			color: #b8c0cd;
		}
		.react-select-pre__multi-value__remove:hover {
			background-color: $dangerColor;
			svg path {
				color: white;
			}
		}
	}
}

.react-select .react-select-pre__control:focus {
	outline: none !important;
	border: 1px solid $mainColor;
}

.alert {
	color: #fff;
	font-weight: bold;
	position: absolute;
	top: 100px;
	text-align: center;
	transform: translateX(-50%);
	width: 100vw;
	display: flex;
	justify-content: center;
	padding: 0;
}

.success-alert,
.error-alert {
	padding: 0.5rem 2rem;
	border-radius: 10px;
	width: 40%;
}

.success-alert {
	background-color: $successColor;
}
.error-alert {
	background-color: $dangerColor;
}

.checkbox-container {
	margin-bottom: 1rem;
	input {
		margin-bottom: 0;
		margin-right: 8px;
	}
	span,
	input {
		vertical-align: middle;
	}
	span {
		color: $placeHolderColor;
		font-size: .8rem;
	}
}
