@import "../../imports/colors";

.navbar-container {
	background-color: $whiteColor;
	padding-top: 1rem;
	padding-bottom: 1rem;
	box-shadow: 1px 1px 12px rgb(0 0 0 / 15%);
	.nav-items {
		display: flex;
		align-items: center;
		.right-items {
			margin-left: auto;
			display: flex;
			align-items: flex-end;
			.params {
				.light-mode,
				.show-particuler {
					width: 52px;
					height: 20px;
					cursor: pointer;
					// background-color: $secondColor;
					border: 2px solid $mainColor;
					border-radius: 50px;
					display: flex;
					align-items: center;
					transition: all 0.3s ease;
					.spot {
						margin-left: 2px;
						margin-right: 2px;
						width: 14px;
						height: 14px;
						background-color: $mainColor;
						border-radius: 50%;
						transition: all 0.3s ease-in-out;
					}
				}
				.light-mode {
					margin-bottom: 2px;
				}
				.show-particuler {
					margin-top: 2px;
				}
			}
			a {
				font-weight: 500;
				color: $mainColor;
			}
			button:last-child {
				margin-left: 2rem;
			}
		}
	}
}