@import "../imports/colors";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.landing-section {
	// background: linear-gradient(257.55deg, #EAF2FA 3.3%, rgba(234, 242, 250, 0) 89.36%);
	padding-bottom: 40px;
	padding-top: 110px;
	color: $mainColor;
	p {
		font-size: 18px;
		line-height: 23px;
	}
	.right-section {
		h1 {
			font-weight: bold;
			font-size: 35px;
			line-height: 45px;
			margin-bottom: 20px;
		}
		.step {
			display: flex;
			margin-bottom: 12px;
			margin-top: 12px;
			.step-index {
				width: 30px;
				height: 30px;
				background: #EAF2FA;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				span {
					font-weight: bold;
					font-size: 18px;
					line-height: 23px;
				}
			}
			.step-name {
				font-weight: bold;
				font-size: 22px;
				line-height: 28px;
				margin-left: 12px;
			}
		}
		.desc {
			margin-left: 42px;
		}
		.never-forget {
			margin-top: 62px;
			font-weight: bold;
		}
	}
	.left-section {
		display: flex;
		align-items: center;
	}
	.ps {
		margin-top: 48px;
	}
}

.wilies-container {
	// margin-top: 3rem;
	margin-bottom: 3rem;
	padding-left: 0;
	padding-right: 0;
}


.wily {
	margin-bottom: 8px;
	padding-bottom: 2rem;
	padding-top: 1rem;
	.header {
		padding: 1rem 2rem 0rem 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		h4 {
			font-size: 20px;
			line-height: 22px;
			font-weight: 500;
			color: $mainColor;
		}
		svg {
			cursor: pointer;
		}
	}
	.qst-container,
	.answer-container {
		width: 90%;
	}
	.date-label {
		padding-left: 2rem;
	}
	hr {
		width: 94%;
	}
	.answer {
		padding-left: 2rem;
		padding-right: 2rem;
		margin: 0;
		overflow: hidden;
		// transition: all 0.3s ease-in-out;
		position: relative;
		.content {
			display: flex;
		}
	}
}


.navbar-container {
	background-color: $whiteColor;
	padding-top: 1rem;
	padding-bottom: 1rem;
	box-shadow: 1px 1px 12px rgb(0 0 0 / 15%);
	.nav-items {
		display: flex;
		align-items: center;
		.right-items {
			margin-left: auto;
			display: flex;
			align-items: center;
			.params {
				.light-mode,
				.show-particuler {
					width: 52px;
					height: 20px;
					cursor: pointer;
					border: 2px solid $mainColor;
					border-radius: 50px;
					display: flex;
					align-items: center;
					.spot {
						margin-left: 2px;
						margin-right: 2px;
						width: 14px;
						height: 14px;
						background-color: $mainColor;
						border-radius: 50%;
					}
				}
				.light-mode {
					margin-bottom: 2px;
				}
				.show-particuler {
					margin-top: 2px;
				}
			}
			a {
				margin-left: 1rem;
			}
		}
	}
}

.team-container {
	display: flex;
	justify-content: center;
	.team-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 2px solid #EBEAED;
		box-sizing: border-box;
		border-radius: 10px;
		padding-top: 2rem;
		// width: 370px;
		width: 100%;
		h5 {
			font-weight: 500;
			font-size: 22px;
			line-height: 32px;
			text-align: center;
		}
		p {
			font-weight: bold;
			font-size: 14px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: rgba(21, 20, 57, 0.4);
		}
		.social-media {
			width: 100%;
			display: flex;
			justify-content: space-around;
			border-top: 2px solid #EBEAED;
			a {
				padding: 1rem;
				width: 33%;
				display: flex;
				justify-content: center;
			}
			a:nth-child(2) {
				border-left: 2px solid #EBEAED;
				border-right: 2px solid #EBEAED;
			}
		}
	}
}


.inputs-container {
	padding-top: 5rem;
	.inputs {
		display: flex;
		flex-direction: column;
		width: 40%;
		background-color: $whiteColor;
		padding: 36px 48px;
		padding-bottom: 16px;
		border-radius: 10px;
		border: 1px solid $mainColor;
		box-shadow: 0 15px 35px 0 rgba(64, 68, 82, 0.08);
		h4 {
			font-size: 24px;
			line-height: 32px;
			color:#3c4257;
			text-align: center;
			margin-bottom: 1rem;
		}
		a {
			font-size: 0.8rem;
			padding: .5rem 5px;
			padding-top: 5px;
		}
		a:last-child {
			text-align: center;
			margin-top: 1rem;
		}
	}
}

.community-container {
	margin-top: 5rem;
	.content {
		.user-card {
			display: flex;
			align-items: center;
			background-color: #fff;
			border-radius: 10px;
			border: 1px solid $mainColor;
			box-shadow: 0 15px 35px 0 rgb(64 68 82 / 8%);
			padding: 1.3rem 2rem;
			margin-bottom: 2rem;
			cursor: pointer;
			img {
				width: 64px;
				height: 64px;
				margin-right: 1rem;
			}
			.user-info {
				h3 {
					font-size: 1.3rem;
					// margin-bottom: 1.5rem;
					font-weight: 700;
				}
			}
		}
	}
}

.hire-us {
	height: 100vh;
	background-color: $mainColor;
	color: $secondColor;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.markdown-content {
	padding: 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
	#preview-editor {
		height: calc(100vh - 140px);
	}
}

.edit-container {
	.date-label {
		width: 100%;
		margin-bottom: 1rem;
	}
}
.wil-content-container {
	.wil-content {
		margin-top: 5rem;
		padding: 2rem;
		.qst-container {
			margin-top: 1rem;
		}
		.tags-container {
			padding-left: 0rem;
		}
	}
}

.preview-container {
	margin-bottom: 1rem;
}


.spinner {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-top: 2rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 3rem;
}
.spinner:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid $mainColor;
	border-color: $mainColor transparent $mainColor transparent;
	animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.bg-darki {
	background-color: $blackColor;
	transition: all .3s ease-in-out;
}

#tsparticles {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	margin: 0;
	z-index: -1;
}

.search-container {
	padding: 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.react-select {
		width: 40%;
		.react-select-pre__control {
			background-color: $secondColor;
			border-color: $mainColor;
		}
	}
	.sort-date {
		background-color: $secondColor;
		padding: 0.5rem 1rem;
		border-radius: 4px;
		border: 1px solid $mainColor;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		color: $mainColor;
	}
}

