@import "../imports/colors";
.hire-us {
	height: 100vh;
	background-color: $mainColor;
	color: $secondColor;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}