$mainColor: #1d1b84;
$secondColor: #eaf2fa;
$whiteColor: #fff;
$blackColor: #1F2128;
$blackBg: #242731;
$dangerColor: #f5365c;
$lightSecondColor: #f3f9fd;
$placeHolderColor: #3f4144;
$successColor: #33d9b2;
$blueColor: #172b4d;