@import "../../imports/colors";

.autocomplete-container {
	.no-autocomplete {
		color: #999;
		padding: 8px;
	}
	.autocomplete {
		position: absolute;
		background-color: $whiteColor;
		top: 77px;
		left: 0;
		width: 100%;
		border: 1px solid $secondColor;
		border-top-width: 0;
		list-style: none;
		margin-top: 0;
		// max-height: 143px;
		overflow-y: auto;
		padding-left: 0;
	}
	.autocomplete li {
		padding: 8px;
	}
	.autocomplete > .active,
	.autocomplete li:hover {
		background-color: $secondColor;
		cursor: pointer;
		font-weight: 500;
	}
	.autocomplete li:not(:last-of-type) {
		border-bottom: 1px solid $secondColor;
	}
	.small-txt {
		font-size: 10px;
		font-weight: 400;
	}
}
